body {
  background-image: url('./asset.png');
  background-size: 450px 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FBEE00;
}
